
@{
    ViewBag.Title = "Genre";
     } 
<body>
    <style>
        .img {
            margin-left: 40px;
            margin-bottom: 40px;
        }
         </style>
    <div align ="center" class="jumbotron">
        <a href="@Url.Action("Popular","Home")" target="_blank">
            <img src="~/Resurse/Безымянный.png" alt="Popular" border="0" class="img">
        </a>
        <a href="@Url.Action("NewSong","Home")" target="_blank">
        <img src="~/Resurse/Безымянный1.png" alt="New-Song" class="img" >
        </a>
        <a href="@Url.Action("PopMusic","Home")" target="_blank">
            <img src="~/Resurse/Безымянный2.png" alt="Pop-Music" class="img"></a>
            <a href="@Url.Action("RockMusic","Home")" target="_blank"> <img src="~/Resurse/Безымянный3.png" alt="Rock-Music" class="img">
            </a>
                <a href="@Url.Action("RepHipHop","Home")" target="_blank">
                    <img src="~/Resurse/Безымянный4.png" alt="Rep-HipHop" class="img"></a>
                    <a href="@Url.Action("Classic","Home")" target="_blank">
                        <img src="~/Resurse/Безымянный10.png" alt="Classic" class="img" /></a>
        <a href="@Url.Action("HitList","Home")" target="_blank">
            <img src="~/Resurse/Безымянный12.png" alt="HitList" class="img" /></a>
            <a href="@Url.Action("SoulFolk","Home")" target="_blank">
                <img src="~/Resurse/Безымянный13.png" alt="Soul&Folk" class="img" /></a>

                <p>
                    <a href="@Url.Action("Indie","Home")" target="_blank">
                        <img src="~/Resurse/Безымянный5.png" alt="Indie" class="img"></a>
                        <a href="@Url.Action("Electro","Home")" target="_blank">
                            <img src="~/Resurse/Безымянный6.png" alt="Electro" class="img" /> </a>
                    <a href="@Url.Action("Reggi","Home")" target="_blank">
                        <img src="~/Resurse/Безымянный7.png" alt="Reggi" class="img" /></a>
                    <a href="@Url.Action("Metal","Home")" target="_blank">
                        <img src="~/Resurse/Безымянный8.png" alt="Metal" class="img" /></a>
                    <a href="@Url.Action("RnB","Home")" target="_blank">
                        <img src="~/Resurse/Безымянный9.png" alt="R'n'B" class="img" /></a>
                    <a href="@Url.Action("Jazz","Home")" target="_blank">
                        <img src="~/Resurse/Безымянный11.png" alt="Jazz" class="img" /></a>
                    <a href="@Url.Action("Bluz","Home")" target="_blank">
                        <img src="~/Resurse/Безымянный14.png" alt="Bluz" class="img" /></a>
                    <a href="@Url.Action("Cill","Home")" target="_blank">
                        <img src="~/Resurse/Безымянный15.png" alt="Cill" class="img" /></a>
</p>

</div>
</body>
