@model IEnumerable<SimpleSite3.Models.Music>
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
<div class="jumbotron">


</div>   
   @*<input type="hidden" name="tableLang" id="tableLang" />

<table id="mainTable" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Song</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Artist</td>
                <td>@item.Song</td>*@
                
                @*<td><a href="@item.Id"><span class="glyphicon glyphicon-user"></span></a></td>
                <td><a href="@item.Id"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="/Users/Delete/@item.Id"><span class="glyphicon glyphicon-trash"></span></a></td>*@
            @*</tr>
        }
    </tbody>
</table>

@section Scripts {
    @Styles.Render("~/Content/DataTables/css/jquery.dataTables.min.css")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/ClientScripts/usersList.js")
}*@






<div class="row">
    <div class="col-md-4">
        <h2>Top 10</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>